.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 0 25px;
}
.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.fa.fa-arrow-circle-right.ngx-gallery-icon-content,
.fa.fa-arrow-circle-left.ngx-gallery-icon-content {
  background: black !important ;
  border-radius: 50px !important;
}
