<div class="card mb-4">
  <div class="card-img-wrapper">
    <img
      class="card-img-top"
      src="{{ theUserPhotUrl }}"
      alt="{{ user.knownAs }}"
    />
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" [routerLink]="['/members/', user.id]">
          <i class="fa fa-user" aria-hidden="true"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary" (click)="sendLike(user.id)">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button
          class="btn btn-primary"
          [routerLink]="['/members', user.id]"
          [queryParams]="{ tab: 'messages' }"
        >
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h5 class="card-title text-center">{{ user.knownAs }} ({{ user.age }})</h5>
    <p class="card-text text-muted text-center">From: {{ user.city }}</p>
  </div>
</div>
