@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap");

.navbar-brand {
  font-family: "Nanum Pen Script", cursive;
  font-size: 3rem;
}
.nav-link {
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
}
.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.logged-in-user-photo {
  width: 3em;
  border-radius: 50px;
  border: 2px solid white;
  display: inline;
}
