/* @import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap"); */

/* .navbar-brand {
  font-family: "Nanum Pen Script", cursive;
  font-size: 3rem;
}
.nav-link {
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
} */
.notif-container {
  top: 20px;
  position: absolute;
  margin-left: 2px;
}
span.newMsgCounter {
  text-align: center;
  /* padding: 0px !important; */
  color: orangered;
  /* padding: 4px 10px; */
  display: inline-block;
  background-color: #ffffff;
  line-height: 25px;
  /* display: initial; */
  height: 25px;
  margin-left: 5px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid white;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.logged-in-user-photo {
  width: 3em;
  border-radius: 50px;
  border: 2px solid white;
  display: inline;
}
